.card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1.5rem;
}

.user-avatar {
    grid-row: 1/3;
    margin: 1rem 1.5rem 0 1.5rem;
}

.user-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}

.user-description {
    padding-left: 1rem;
    color: #343a40;
}

.user-picture {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #adb5bd;
    margin: 0 auto;
}

.user-name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0.25rem;
    margin-top: 1.25rem;
}

.accordion-icon {
    height: 2rem;
    width: 2rem;
    color: #aaa;
    cursor: pointer;
}

.accordion-icon:hover {
    color: black;
}

.user-point,
.user-grade {
    margin: 0.25rem;
    font-size: 15px;
}

.user-grades {
    margin-top: 1rem;
}
